PORT=5000
MONGODB_URI=mongodb+srv://Ayesha:<db_password>@cluster0.uagm8zl.mongodb.net/?appName=Cluster0/campusconnect?retryWrites=true&w=majority
JWT_SECRET=KJH8s7df8s7df9s8df7sdf8s7df98sdf7sdf98sdf7sdf
REFRESH_TOKEN_SECRET=sdf7sdf98s7df98s7df98s7df98s7df98s7df98s7df
CLIENT_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=dfaydzfok
CLOUDINARY_API_KEY=264997327351383
CLOUDINARY_API_SECRET=9c-e9UGnL_iIicU_DP0VJ5v3PkM
EMAIL_USER=asaddiqua991@gmail.com
EMAIL_APP_PASSWORD=hjqe crfw orje lwmr
EMAIL_PASS=hjqe crfw orje lwmr
